@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(13, 115, 119, 1) 30%,
    rgba(50, 224, 196, 1) 95%
  );
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
